# Introduction
- pandas のチュートリアルです。
- すでに使い慣れている人には、簡単すぎるかもしれません。

# Let's import everything We need :)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

# Data Preparation

In [18]:
iris = load_iris()
data = iris.data
target = iris.target
target_names = iris.target_names
feat_names = iris.feature_names

# Pandas

Data Frame の作成

In [4]:
df = pd.DataFrame(data)

# headメソッドで最初の何行かを確認できます。
df.head(3)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2

味気ないので特徴量に名前を与えましょう

In [11]:
df.columns = feat_names
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

----> かっこよくなりました。

---
`sepal width (cm)`だけを取り出してみます。(2通り)

In [9]:
# 1
df['sepal width (cm)']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
9      3.1
10     3.7
11     3.4
12     3.0
13     3.0
14     4.0
15     4.4
16     3.9
17     3.5
18     3.8
19     3.8
20     3.4
21     3.7
22     3.6
23     3.3
24     3.4
25     3.0
26     3.4
27     3.5
28     3.4
29     3.2
      ...
120    3.2
121    2.8
122    2.8
123    2.7
124    3.3
125    3.2
126    2.8
127    3.0
128    2.8
129    3.0
130    2.8
131    3.8
132    2.8
133    2.8
134    2.6
135    3.0
136    3.4
137    3.1
138    3.0
139    3.1
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal width (cm), Length: 150, dtype: float64

In [10]:
# 2
df.iloc[:, 1]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
9      3.1
10     3.7
11     3.4
12     3.0
13     3.0
14     4.0
15     4.4
16     3.9
17     3.5
18     3.8
19     3.8
20     3.4
21     3.7
22     3.6
23     3.3
24     3.4
25     3.0
26     3.4
27     3.5
28     3.4
29     3.2
      ...
120    3.2
121    2.8
122    2.8
123    2.7
124    3.3
125    3.2
126    2.8
127    3.0
128    2.8
129    3.0
130    2.8
131    3.8
132    2.8
133    2.8
134    2.6
135    3.0
136    3.4
137    3.1
138    3.0
139    3.1
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal width (cm), Length: 150, dtype: float64


---> こんな感じで使います。後は調べながら、タスクをこなしてください。

---
**Task**
1. describeメソッドを使ってみてください。
1. 新しい列に target を追加してください。
1. target は、0,1,2 の値のどれかを取ります。0,1,2に属すデータの数をそれぞれ調べてください。
    - 例)以下のような偏りのあるデータであれば、普通に処理するわけにはいけません。こんな感じで確認することは大事です。
        - 0: 100個
        - 1: 20個
        - 2: 100000個
1. 以下のグラフを作ってください。  

    <img src="./iris_dataset/scatter.png" width="400">

---